<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.rookie.monitor.operlog.dao.OperLogMapper">

    <resultMap type="OperLog" id="OperLogResult">
        <id property="operId" column="oper_id"/>
        <result property="title" column="title"/>
        <result property="businessType" column="business_type"/>
        <result property="method" column="method"/>
        <result property="operName" column="oper_name"/>
        <result property="operUrl" column="oper_url"/>
        <result property="operIp" column="oper_ip"/>
        <result property="operParam" column="oper_param"/>
        <result property="status" column="status"/>
        <result property="errorMsg" column="error_msg"/>
        <result property="operTime" column="oper_time"/>
    </resultMap>

    <sql id="selectOperLogVo">
        select oper_id,
               title,
               business_type,
               method,
               oper_name,
               oper_url,
               oper_ip,
               oper_param,
               status,
               error_msg,
               oper_time
        from sys_oper_log
    </sql>

    <insert id="insertOperlog" parameterType="OperLog">
        insert into sys_oper_log (title,
                                  business_type,
                                  method,
                                  oper_name,
                                  oper_url,
                                  oper_ip,
                                  oper_param,
                                  status,
                                  error_msg,
                                  oper_time)
        values (#{title},
                #{businessType},
                #{method},
                #{operName},
                #{operUrl},
                #{operIp},
                #{operParam},
                #{status},
                #{errorMsg},
                sysdate())
    </insert>

    <select id="selectOperLogList" parameterType="OperLog" resultMap="OperLogResult">
        <include refid="selectOperLogVo"/>
        <where>
            <if test="operLog != null">
                <if test="operLog.operName != null and '' neq operLog.operName">
                    oper_name like CONCAT('%',#{operLog.operName},'%')
                </if>
                <if test="operLog.businessType != null and '' neq operLog.businessType">
                    and business_type like CONCAT('%',#{operLog.businessType},'%')
                </if>
                <if test="operLog.title != null and '' neq operLog.title">
                    and title like CONCAT('%',#{operLog.title},'%')
                </if>
                <if test="operLog.status != null and '' neq operLog.status">
                    and status = #{operLog.status}
                </if>
                <if test="operLog.startTime != null and '' neq operLog.startTime">
                    and date_format(oper_time,'%y%m%d') &gt;= date_format(#{operLog.startTime},'%y%m%d')
                </if>
                <if test="operLog.endTime != null and '' neq operLog.endTime">
                    and date_format(oper_time,'%y%m%d') &lt;= date_format(#{operLog.endTime},'%y%m%d')
                </if>
            </if>
        </where>
        <include refid="common.jqueryPageTail"/>
    </select>

    <delete id="deleteOperLogByIds" parameterType="String">
        delete from sys_oper_log where oper_id in
        <foreach collection="operIds" item="operId" open="(" separator="," close=")">
            #{operId}
        </foreach>
    </delete>

    <select id="selectOperLogById" parameterType="Long" resultMap="OperLogResult">
        <include refid="selectOperLogVo"/>
        where oper_id = #{operId}
    </select>

    <update id="cleanOperLog">
        truncate table sys_oper_log
    </update>

</mapper> 