<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.contract.repository.ContractUploadDao">
    <resultMap id="ContractInfoMap"
               type="com.isoftstone.contract.entity.ContractInfoBean">
        <id column="docutment_info_id" property="docutmentInfoId"/>
        <result column="docutment_info_name" property="docutmentInfoName"/>
        <result column="docutment_head_data_id" property="docutmentHeadDataId"/>
        <result column="docutment_body_data_id" property="docutmentBodyDataId"/>
        <result column="docutment_pict_data_id" property="docutmentPictDataId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    
    <resultMap id="ContractDataMap"
               type="com.isoftstone.contract.entity.ContractDataBean">
        <id column="docutment_data_id" property="docutmentDataId"/>
        <result column="docutment_data_name" property="docutmentDataName"/>
        <result column="docutment_data" property="docutmentData"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    
    <insert id="saveContractInfo">
        insert into office_document_info (
        docutment_info_name, 
        docutment_head_data_id,
        docutment_body_data_id,
        docutment_pict_data_id,
        create_time,
        modify_time)
        values (
        #{contractInfo.docutmentInfoName},
        #{contractInfo.docutmentHeadDataId}, 
        #{contractInfo.docutmentBodyDataId},
        #{contractInfo.docutmentPictDataId},
        SYSDATE(),
        SYSDATE())
    </insert>
    
	<insert id="saveContractData">
        insert into office_document_data (
        docutment_data_id,
        docutment_data_name,
        docutment_data,
        create_time,
        modify_time)
        values (
        #{contractData.docutmentDataId},
        #{contractData.docutmentDataName},
        #{contractData.docutmentData},
        SYSDATE(),
        SYSDATE())
    </insert>
</mapper>